Este notebook está vinculado al caso de estudio "Yapo" (ver el documento de presentación). Se busca construir una base de datos de anuncios en Los Rios recopilando algunos anuncios de Yapo.cl.

En este notebook, ya tenemos la Base de Datos Yapo construida. Consultamos y visualizamos los datos.

In [8]:
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from pandas import DataFrame
import pandas as pd

sns.set(style="whitegrid", palette="pastel", color_codes=True)
sns.mpl.rc("figure", figsize=(12,6))

%matplotlib inline

%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

UsageError: Line magic function `%%javascript` not found.

# 3. Consultas SQL

- ¿Cuál es el precio promedio de los anuncios por categoría?

- ¿Cuál es el número de anuncios por vendedor y por día?

- ¿Insertar una columna “Perfil” en la tabla Vendedor. Los Vendedores que publicaron más de 5 anuncios en los últimos 7 días, tienen un perfil “Pro”, los otros se consideran “Personal”.

- ¿Cuál es el precio promedio de los anuncios según el día de la semana (lunes, martes, miercoles, etc.)

In [9]:
import mysql.connector 

db_connection = mysql.connector.connect(user="root",host="localhost",password="root")
cursor = db_connection.cursor()

cursor.execute("use Yapo2")

In [10]:
#¿Cuál es el precio promedio de los anuncios por categoría?

sql = "SELECT categoria, avg(precio) FROM anuncio WHERE moneda=\"$\" GROUP BY categoria ORDER BY avg(precio) DESC;"
cursor.execute(sql)
df1 = DataFrame(cursor.fetchall())
df1.columns = cursor.column_names
df1

                              categoria    avg(precio)
0                          Vendo - Casa  93000000.0000
1                       Vendo - Terreno  13500000.0000
2               Autos, camionetas y 4x4   3375000.0000
3            Buses, camiones y furgones   1850000.0000
4    Consolas, videojuegos y accesorios    410000.0000
5             Computadores y accesorios    350000.0000
6                               Muebles    345000.0000
7                     Ofertas de empleo    342000.0000
8                       Arriendo - Casa    325000.0000
9                             Servicios    300000.0000
10              Arriendo - Departamento    286000.0000
11   Accesorios y piezas para vehículos     51250.0000
12  Negocios, maquinaria y construcción     46660.0000
13                    Electrodomésticos     42500.0000
14            Animales y sus accesorios     30000.0000
15    Jardín, herramientas y exteriores     25000.0000
16                     Moda y vestuario     22666.6667
17            Otros artículos del hogar     20000.0000
18     Arte, antigüedades y colecciones     10000.0000
19    Celulares, teléfonos y accesorios      9500.0000
20                      Salud y belleza      9495.0000

In [14]:
#¿Cuál es el número promedio de anuncios por vendedor por día?

sql = "SELECT nombre, count(*)/7 FROM anuncio JOIN vendedor USING (id_vendedor) WHERE fecha_publicacion BETWEEN \"2020-08-12\" AND \"2020-08-18\" GROUP BY nombre ORDER BY count(*) DESC;"
cursor.execute(sql)
df1 = DataFrame(cursor.fetchall())
df1.columns = cursor.column_names
df1

ValueError: Length mismatch: Expected axis has 0 elements, new values have 2 elements

In [13]:
#¿Cuál es el precio promedio de los anuncios según el día de la semana (lunes, martes, miercoles, etc.), por categoria?
sql = "select DAYOFWEEK(fecha_publicacion) as dia,categoria, avg(precio) from anuncio where moneda=\"$\" group by dia, categoria order by avg(precio) desc;"
cursor.execute(sql)
df1 = DataFrame(cursor.fetchall())
df1.columns = cursor.column_names
df1

    dia                            categoria    avg(precio)
0     4                         Vendo - Casa  93000000.0000
1     4                      Vendo - Terreno  13500000.0000
2     4              Autos, camionetas y 4x4   3375000.0000
3     4           Buses, camiones y furgones   1850000.0000
4     4   Consolas, videojuegos y accesorios    410000.0000
5     4            Computadores y accesorios    350000.0000
6     4                              Muebles    345000.0000
7     4                    Ofertas de empleo    342000.0000
8     4                      Arriendo - Casa    325000.0000
9     4                            Servicios    300000.0000
10    4              Arriendo - Departamento    286000.0000
11    4   Accesorios y piezas para vehículos     51250.0000
12    4  Negocios, maquinaria y construcción     46660.0000
13    4                    Electrodomésticos     42500.0000
14    4            Animales y sus accesorios     30000.0000
15    4    Jardín, herramientas y exteriores     25000.0000
16    4                     Moda y vestuario     22666.6667
17    4            Otros artículos del hogar     20000.0000
18    4     Arte, antigüedades y colecciones     10000.0000
19    4    Celulares, teléfonos y accesorios      9500.0000
20    4                      Salud y belleza      9495.0000

# 4. Visualizaciones de datos

## 4.1 Shapefile

In [ ]:
shp_path = "./cl_regiones_geo/cl_regiones_geo.shp"
sf = shp.Reader(shp_path, encoding="ISO8859-1")

In [ ]:
len(sf.shapes())

In [ ]:
sf.records()[1]

In [ ]:
sf.records()[1][1]

In [ ]:
def read_shapefile(sf):
    """
    Read a shapefile into a Pandas dataframe with a 'coords' 
    column holding the geometry information. This uses the pyshp
    package
    """
    fields = [x[0] for x in sf.fields][1:]
    records = sf.records()
    shps = [s.points for s in sf.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

In [ ]:
df = read_shapefile(sf)
df.shape

In [ ]:
df.sample(15)

In [ ]:
df[df.NOMBRE == 'Los Rios']

## 4.2 Visualizar el mapa (funciones útiles)

Tutorial y fuente del código: https://towardsdatascience.com/mapping-geograph-data-in-python-610a963d2d7f

In [ ]:
def calc_color(data, color=None):
        if color   == 1: 
            color_sq =  ['#dadaebFF','#bcbddcF0','#9e9ac8F0',
                        '#807dbaF0','#6a51a3F0','#54278fF0']; 
            colors = 'Purples';
        elif color == 2: 
            color_sq = ['#c7e9b4','#7fcdbb','#41b6c4',
                        '#1d91c0','#225ea8','#253494']; 
            colors = 'YlGnBu';
        elif color == 3: 
            color_sq = ['#f7f7f7','#d9d9d9','#bdbdbd',
                        '#969696','#636363','#252525']; 
            colors = 'Greys';
        elif color == 9: 
            color_sq = ['#ff0000','#ff0000','#ff0000',
                        '#ff0000','#ff0000','#ff0000']
        else:            
            color_sq = ['#ffffd4','#fee391','#fec44f',
                        '#fe9929','#d95f0e','#993404']; 
            colors = 'YlOrBr';
        
        new_data, bins = pd.qcut(data, 6, retbins=True, labels=list(range(6)))
        color_ton = []
        for val in new_data:
            color_ton.append(color_sq[val]) 
        if color != 9:
            colors = sns.color_palette(colors, n_colors=6)
            sns.palplot(colors, 0.6);
            for i in range(6):
                print ("\n"+str(i+1)+': '+str(int(bins[i]))+
                       " => "+str(int(bins[i+1])-1), end =" ")
            print("\n\n   1   2   3   4   5   6")    
        return color_ton, bins;

In [ ]:
def plot_regiones_data(sf, title, regiones, data=None, 
                      color=None, print_id=False):
    '''
    Plot map with selected comunes, using specific color
    '''
    
    color_ton, bins = calc_color(data, color)
    df = read_shapefile(sf)
    region_id = []
    for i in regiones:
        #print(i)
        id = df[df.NOMBRE == i].index.get_values()[0]
        region_id.append(id)
        
        
    y_lim = (-41,-17) # latitude 
    x_lim = (-76, -66) # longitude
    
    plot_map_fill_multiples_ids_tone(sf, title, region_id, 
                                     print_id, 
                                     color_ton, 
                                     bins, 
                                     x_lim = x_lim, 
                                     y_lim = y_lim, 
                                     figsize = (10,25));

In [ ]:
def plot_map_fill_multiples_ids_tone(sf, title, comuna,  
                                     print_id, color_ton, 
                                     bins, 
                                     x_lim = None, 
                                     y_lim = None, 
                                     figsize = (5,12)):
    '''
    Plot map with lim coordinates
    '''
        
    plt.figure(figsize = figsize)
    fig, ax = plt.subplots(figsize = figsize)
    fig.suptitle(title, fontsize=16)
    for shape in sf.shapeRecords():
        x = [i[0] for i in shape.shape.points[:]]
        y = [i[1] for i in shape.shape.points[:]]
        ax.plot(x, y, 'k')
            
    for id in comuna:
        shape_ex = sf.shape(id)
        x_lon = np.zeros((len(shape_ex.points),1))
        y_lat = np.zeros((len(shape_ex.points),1))
        for ip in range(len(shape_ex.points)):
            x_lon[ip] = shape_ex.points[ip][0]
            y_lat[ip] = shape_ex.points[ip][1]
        ax.fill(x_lon,y_lat, color_ton[comuna.index(id)])
        if print_id != False:
            x0 = np.mean(x_lon)
            y0 = np.mean(y_lat)
            plt.text(x0, y0, id, fontsize=10)
    if (x_lim != None) & (y_lim != None):     
        plt.xlim(x_lim)
        plt.ylim(y_lim)

## 4.3 Visualizar datos de Yapo en un mapa

In [ ]:
from pandas import DataFrame
#¿Cuál es el número de anuncios Yapo.cl en cada región de Chile ?

sql = "select nombre_region, count(*) as nb_anuncios from vendedor join anuncio using (id_vendedor) where nombre_region != \"Ñuble\" group by nombre_region order by nb_anuncios DESC;"
cursor.execute(sql)
df1 = DataFrame(cursor.fetchall())
df1.columns = cursor.column_names
df1

In [ ]:
read_shapefile(sf).head(15)

In [ ]:
df1.loc[df1.nombre_region == "Metropolitana", "nombre_region"] = "Metropolitana de Santiago"
df1.loc[df1.nombre_region == "Valparaíso", "nombre_region"] = "Valparaiso"
df1.loc[df1.nombre_region == "Biobío", "nombre_region"] = "Biobio"
df1.loc[df1.nombre_region == "Magallanes & Antártica", "nombre_region"] = "Magallanes y de la Antartica Chileno"
df1.loc[df1.nombre_region == "Araucanía", "nombre_region"] = "La Araucania"
df1.loc[df1.nombre_region == "O'Higgins", "nombre_region"] = "Libertador Gral. Bernardo O'Higgins"
df1.loc[df1.nombre_region == "Los Ríos", "nombre_region"] = "Los Rios"
df1.loc[df1.nombre_region == "Tarapacá", "nombre_region"] = "Tarapaca"
df1.loc[df1.nombre_region == "Aisén", "nombre_region"] = "Aisen del Gral. Carlos Ibañez del Campo"
df1.loc[df1.nombre_region == "Arica & Parinacota", "nombre_region"] = "Arica y Parinacota"

In [ ]:
data = df1.nb_anuncios
regiones = df1.nombre_region

print_id = False # The shape id will be printed
color_pallete = 1 # 'Purples'
plot_regiones_data(sf, 'Número de anuncios Yapo.cl por regiones', regiones, data, color_pallete, print_id)